# 1. JWT Security
JWT_SECRET_KEY="secure_dynamic_secret_tokens_key"

# 2. RabbitMQ CloudAMQP Link
RABBITMQ_URL="amqps://username:password@tailor.rmq.cloudamqp.com/vhost"

# 3. User Service Database (MongoDB Atlas)
USER_SERVICE_DB_URL="mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/user_service_db?retryWrites=true&w=majority"

# 4. Product Service Databases (Postgres - Schema: product_schema)
PRODUCT_SERVICE_WRITE_DB_URL="postgresql://user:pass@ep-xxxx.ap-southeast-1.aws.neon.tech/product_write_db?sslmode=require&schema=product_schema"
PRODUCT_SERVICE_READ_DB_URL="postgresql://user:pass@ep-xxxx.ap-southeast-1.aws.neon.tech/product_read_db?sslmode=require&schema=product_schema"

# 5. Inventory Service Database (Postgres - Schema: inventory_schema)
INVENTORY_SERVICE_DB_URL="postgresql://user:pass@ep-xxxx.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&schema=inventory_schema"

# 6. Order Service Database (Postgres - Schema: order_schema)
ORDER_SERVICE_DB_URL="postgresql://user:pass@ep-xxxx.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&schema=order_schema"